
.det_imgheight{
height: 50vh;
}
.det_photoht{
height: 30vh;
}
.d{
	display:block;
}
.c{
		
}
.pad{
	padding-top: 35px
}
.detail_split{
	padding-left: 10px
}
.detail_notsplit{
	padding-left: 10px
}
.pad_left{
	padding-left: 10px
}
.pad_right{
	padding-right: 20px
}
.pad_bottom{
	padding-bottom: 20px
}
#myList li{ display:none;
}
#loadMore {
    color:green;
    cursor:pointer;
}
#loadMore:hover {
    color:black;
}
#showLess {
    color:red;
    cursor:pointer;
}
#showLess:hover {
    color:black;
}