
.lefty{
	float: left;
}
.carousel-item {
	/*padding-top: 20vh;*/
	/*width: 70vh;*/
  height: 80vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.col_login{
  color: black;
}