<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	<meta charset="utf-8">
	<link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
	<title>Login | GYMS</title>
</head>

<body>
	<section class="hero">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-8 mx-auto">
					<div class="card border-none">
						<div class="card-body">
							<div class="text-center text-white">
								<h1 style="color:#FF582C; border: #000000 !important;">Login into Your Account</h1>
							</div>
							<p class="text-white lead text-center">Login to enter GYMS</p>
							<div style="color: #FFF">
								<form method="post">
								    {% csrf_token %}
	    							{{ form.as_p }}
	 								<button type="submit" class="btn btn-primary btn-block" style="padding: 15px 32px; ">LOGIN</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>