
{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
    <h1>Edit Profile</h1>
    <hr>
  <div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          {% if user_prof.prof_image %}
          <img src="{{user_prof.prof_image.url}}" class="img-circle" alt="{{user.first_name}}" width="150" height="150" style="border-radius: 50%;">
          {% else %}
          <i class="material-icons" style="font-size:100px">portrait</i>
          {% endif %}
          <h6>Upload a different photo...</h6>
          <form class="form-horizontal" role="form" method="post">
            {% csrf_token %}
          <input class="form-control" type="file" name="prof_img">
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Personal info</h3>
        
          
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="{{user.first_name}}" name="first_name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="{{user_prof.last_name}}" name="last_name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="email" value="{{user.email}}" name="email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Age:</label>
            <div class="col-md-8">
              {% if user_prof.age %}
              <input class="form-control" type="number" value="{{user_prof.age}}" name="age">
              {% else %}
              <input class="form-control" type="number" name="age">
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input class="btn btn-primary" value="Save Changes" type="submit">
              <span></span>
              <input class="btn btn-danger" value="Cancel" type="reset">
            </div>
          </div></form>
          <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-green ">Change Password</button>
          <div id="id01" class="w3-modal">
            <div class="w3-modal-content w3-card-4">
              <header class="w3-container w3-teal"> 
                <span onclick="document.getElementById('id01').style.display='none'" 
                class="w3-button w3-display-topright">&times;</span>
                <h2>Reset Password</h2>
              </header>
              <div>
                <form method="post" action="/home/changepass/">
                  <div style="padding-left: 120px;padding-right: 120px; padding-top:40px; padding-bottom: 40px">
                    <div class="card">
                      <h1>Old password</h1>
                      <input type="text" name="old_pass">
                      <h1>New password</h1>
                      <input type="text" name="new_pass1">
                      <h1>Confirm password</h1>
                      <input type="text" name="new_pass2">    
                    </div>
                  </div>
                  <center><button class="btn-success" type="submit">save</button></center>
                </form>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>  
{% endblock content %}