<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript">
		addEventListener(
				"load", function() 
				{ setTimeout(hideURLbar, 0); },
				 false
				);
		function hideURLbar(){ window.scrollTo(0,1); }
	</script>
	<link href="{% static 'css/signup.css' %}" rel="stylesheet" type="text/css" media="all">
	<link href="{% static 'fontawesome/css/fontawesome-all.min.css' %}" rel="stylesheet">
	<link href="{% static 'fontawesome/css/fontawesome.min.css' %}" rel="stylesheet">
	<title>SignUp | GYMS</title>
</head>

<body style=' background:url("{% static "images/back.png" %}")'>
	<div class = "row container main-agileits">
		<h1 class="sub-head">Sign up</h1>
		<form method="post" class="sub-main">
				{{message}}
			<div class = "row">	
				{% csrf_token %}
				<div class = "form-group row">
					<span id="first_name" class="col-md-3">
						<i class="fa fa-smile fa-2x"></i>
						{{form.first_name}}
					</span>
				</div>
				<div class = "form-group row">
					<span id="last_name" class="col-md-3">
						<i class="fa fa-smile fa-2x"></i>
						{{form.last_name}}
					</span>
				</div>
				<div class = "form-group row">
					<span id="username" class="col-md-3">
						<i class="fa fa-user fa-2x"></i>
						{{form.username}}
					</span>
				</div>
				<div class = "form-group row">
					<span id="password2" class="col-md-3">
						<i class="fa fa-envelope fa-2x"></i>
						{{form.email}}
					</span>
				</div>
				<div class = "form-group row">
					<span id="password1" class="col-md-3">
						<i class="fa fa-unlock fa-2x"></i>
						{{form.password1}}
					</span>
				</div>
				<div class = "form-group row">
					<span id="password2" class="col-md-3">
						<i class="fa fa-unlock fa-2x"></i>
						{{form.password2}}
					</span>
				</div>
				<input type="submit" value="signup"></input>
			</div>
		</form>
	</div>


</body>